<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test" verbose="1">
    <test name="Run All Test">
        <classes>
            <class name="com.interview.coding.challenge.test.NationalWeatherTests"/>
        </classes>
    </test>
</suite>